@model BookDTO

@{
    ViewData["Title"] = "BookCreate";
}

<h1>Add new Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" /><br />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
@*                 <div>
                    <textarea class="form-control", rows="8" cols="44" id="text description"></textarea><br />
                </div> *@
                
                <input asp-for="Description" class="form-control" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAvailable" />@Html.DisplayNameFor(model => model.isAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Add book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BookIndex">Back to Library</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}